// About

.about {
    &__container {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}

.about-text {
    font-size: 20px;
}

.about-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    &__column {
        flex: 0 1 50%;
    }

    &__image-container {
        overflow: hidden;
    }

    &__image {
        transition: 1s;
        width: 100%;
        max-width: 100%;
        cursor: pointer;

        &:hover {
            border-radius: 10px;
            transform:  scale(1.1);
        }
    }
}

.about-details {
    margin-top: 20px;
}