// Hero

.hero {
    margin-top: 105px;

    &__container {
        display: flex;
        align-items: center;
    }

    &__title, &__text {
        font-weight: 400;
        font-size: 20px;
    }

    &__title {
        margin-bottom: 5px;
    }

    &__sign {
        font-weight: 700;
    }

    &__image {
        max-width: 450px;
        width: 100%;
    }
}