// Portfolio

.portfolio {
    background-color: rgb(208, 207, 207);

    &__works-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 20px;
    }

    &__works-image {
        width: 100%;
        max-width: 100%;
        border-radius: 20px;
        transition: 0.5s;
        cursor: pointer;
    }

    &__works-column {
        position: relative;
        flex: 0 1 45%;

        &:hover {
            .portfolio__works-image {
               opacity: 0.2;
            }

            .portfolio__works-info {
                opacity: 1;
                visibility: visible;
                bottom: 0;
            }
        }
    }

    &__works-info {
        position: absolute;
        bottom: -10px;
        left: 0;
        padding: 20px;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s;
    }
}