// Footer

.footer {
    background-color: $background-layout;
    padding: 20px 0;
}

.contacts-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    &__email {
        margin-bottom: 10px;
    }

    &__email-link, &__phone-link {
        color: $color-link;
    }
}

.social-media {
    display: flex;
    gap: 10px;

    &__link {
        transition: 0.8s;
        &:hover {
            transform: rotate(360deg);
           }
    }
    i {
       color: $color-link;
       font-size: 30px;
    }
}