// Підключення шрифтів

@font-face {
    font-family: 'DM Sans';
    src: url('../../fonts/DMSans-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'DM Sans';
    src: url('../../fonts/DMSans-Bold.woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'DIN Alternate';
    src: url('../../fonts/DIN-Alternate-Bold.woff2');
    font-weight: 700;
}