// Змінні 

// Шрифт

$font-main: 'DM Sans', sans-serif;
$font-title: 'DIN Alternate', sans-serif;

// Кольори

$background-layout: rgb(45, 45, 49);
$background-main: rgb(249, 236, 251);
$color-link: white;
$color-main-text: black;
$color-link-hover: rgb(255, 58, 58);
$background-mobile-menu: rgb(253, 228, 233);
$color-title: rgb(107, 49, 49);
$color-line: red;
$border-line: rgb(225, 224, 224);
$title-sign: rgb(36, 6, 65);

// Тінь

$shadow: 0 -5px 10px $color-main-text;